html, body{
    margin: 0;
    padding: 0;
    background-image: url(assets/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#navbar{
    background-color: rgba(245, 245, 245, 0.6);
}

#showTodos{
    border-radius: 5px;
    margin: 15px;
    background-color: rgba(245, 245, 245, 0.6);
    height: 83vh;
    overflow: auto;
}

#todoList{
    color: rgb(0,0,0);
    font-size: large;
}

.done{
    text-decoration: line-through;
    color: rgb(117, 114, 114);
}

.todoList{
    display: flex;
    flex-direction: horizontal;
}
